<% content_for :title, "New konkrete abschlussarbeit" %>

<h1>New konkrete abschlussarbeit</h1>

<%= render "form", konkrete_abschlussarbeit: @konkrete_abschlussarbeit %>

<br>

<div>
  <%= link_to "Back to konkrete abschlussarbeits", konkrete_abschlussarbeits_path %>
</div>
